
<h1>
    Blog
</h1>


<h3>More Website Updates...</h3>


<h3>Add chat link to website!</h3>

<div class="blogDate">23 Agugust 2015</div>

<p>
 There is a basic chat now on the site. Just enter your name and then enter to chat. It will show you the number of people online (including yourself). You can chat with others if they are happen to be on here and can help you if needed. 
</p>



<h3>Couple of new things for website..</h3>

<div class="blogDate">22 Agugust 2015</div>

<p>
    The website have more updates. All the menu now are working except the admin link. The "Server Info" link is now provided with live feedback status for the server and the number of players in it.
    The "Contact Us" page definitely improved since we know it is very important for you to contact us if the admins/moderators are not around. If there are any problems, do not afraid to contact us.  Have fun!
</p>



<h3>Website is up and running!</h3>

<div class="blogDate">20 Agugust 2015</div>

<p>The website is finally up! We will provide more information as the server being updated.  The server is now running on a Dedicated machine in Kansas 
    with 1 terabit connection, 16 gigs of ram and 8 cores Intel Xeon Processors. We are hosting only one server called BeastLords PVE server of 127 slots. The server is always up-to-date since the founder wrote a powershell script to be able to check for updates every hour.</p>

