
<h1>
    Donation Information & Perks
</h1>

<h3>Donation helps keep the server alive and smooth. "Why else should I donate?" you ask? If you donate more than $35, you get the following perks:</h3>

<ul>
    <li>Join server even when it is full</li>
    <li>Great support</li>
    <li>Earn trust status in game</li>
    <li>Keep the server alive & smooth</li>
</ul>




<div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="huylam@cfl.rr.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="BeastLords Ark PVE Server">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>