

<h1>
    BeastLords: Questions and Answers
</h1>

<h3><b>Q:</b> Do we have admins on our server?</h3>

<p>
   We have both admins and moderators on our server. Most of us do work, but there will always be someone watching from in game or remotely. If you cannot get in contact with us for some reason,
    please feel free to contact us on the contact link and describe your questions or problems in detail.
</p>

<h3><b>Q:</b> Does the admins or moderators play this game?</h3>

<p>
   Of course we do! We are humans after all and we like to have some fun here and there. But in truth, because of these admins and moderators, that is how we have this server to begin with!
</p>

<h3><b>Q:</b> Admins have an advantage over regular player?</h3>

<p>
    No, absolutely not! We like to play the game fairly and we enjoy it like that. We want everyone to have a fair game and that would include us as well.
</p>

<h3><b>Q:</b> Do admins and moderators abuse regular players?</h3>

<p>
    No, we do not abuse or mistreat anyone. We do hope that you do not use any cheats and treat other players with respect. Worsts come to worsts is that when you do not follow the rules
    you will be given warnings. If you still break these rules and we notice that, we will then ban you.
</p>

<h3><b>Q:</b> Does this server offer character transfer?</h3>

<p>
    No, we do not offer any character transfers from any other server at this point. We want everyone to have a fair advantage to start fresh on our server.
</p>
