


@{
    ViewBag.Title = "Home Page";
    @Scripts.Render("~/signalr/hubs");
}


<h1>
    <span class="hHeader">BeastLords: Ark Survival Server</span>
</h1>

<h4>Beastlords.com - 3x difficulty/2x taming</h4>

<h5>Click to connect straight to server: <a href="steam://connect/204.12.254.122:27015">204.12.254.122:7777</a></h5>
<p>Welcome to the BeastLords PVE server! We are an active group of people who enjoy Ark: Survival Evolved and want to contribute our joy to the community. We DO NOT take this as an opportunity to make
    profit from the server nor we request that you send us any money. If you happen to come across someone asking for money on the server to donate to him/her or this organization specifically,
    please contact us or report it in game.  Otherwise, you can just donate to us by clicking on the "Donate" link if you like your stay here. </p>
<p>We want to give everyone a fair chance on the server, so we do not have any character transfer from another server. We want everyone here to start fresh and be friendly to one another. Tribes will be allow, but please remember
    not to raid excessively.  We do hope that you come and enjoy your time with us. The IP is provided above following the port number.</p>

